<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and responsiveness -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Viewer</title>
</head>
<body>
    <!-- Image Container for displaying images -->
    <div id="imageContainer">
        <img id="current-image" src="" height="800" alt="Image">
    </div>

    <!-- Display Container for showing image path -->
    <div id="displayContainer">
        <input type="text" id="image-path" size="75" style="font-size: 18px;" readonly>
    </div>

    <!-- Input Container for entering image caption -->
    <div id="inputContainer">
        <input type="text" id="image-caption" size="75" style="font-size: 18px;">
    </div>

    <!-- Notes Container for additional image notes -->
    <div id="notesContainer">
        <input type="text" id="image-notes" size="75" style="font-size: 18px;">
    </div>

    <!-- Button to move to the next image -->
    <button id="next-button">Next Image</button>

    <script>
        // Variables for image paths, captions, and UI elements
        const imagePaths = {{ image_files | tojson | safe }}; 
        const captionPaths = {{ caption_files | tojson | safe }};
        const captions = {{ captions | tojson | safe }};
        const currentImage = document.getElementById("current-image");
        const userCaption = document.getElementById("image-caption");
        const userNote = document.getElementById("image-notes");
        const nextButton = document.getElementById("next-button");
        let currentIndex = 0;

        // Function to load the current image and its caption
        function loadCurrentImage() {
            document.getElementById("image-path").value = imagePaths[currentIndex];
            document.getElementById("image-caption").value = captions[currentIndex];
            document.getElementById("image-notes").value = "";
            currentImage.src = imagePaths[currentIndex];
            document.getElementById("image-caption").focus();
        }

        // Function to handle moving to the next image
        function nextImage() {
            // Extracting and preparing data for moving the image
            const srcPathImg = imagePaths[currentIndex];
            let currentFile = srcPathImg.match(/\d+/);
            const dstPathImg = `./static/completed/${currentFile}.png`;
            const srcPathCap = captionPaths[currentIndex];
            const dstPathCap = `./static/completed/${currentFile}.txt`;
            const caption = document.getElementById("image-caption").value;
            const notes = document.getElementById("image-notes").value;
            const metadata = {
                srcPathImg: srcPathImg,
                dstPathImg: dstPathImg,
                srcPathCap: srcPathCap,
                dstPathCap: dstPathCap,
                caption: caption,
                notes: notes
            };

            // Fetch request to move the image and caption
            fetch('/move_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(metadata)
            }).then(response => {
                if (response.ok) {
                    console.log("Image and Caption moved to completed");
                } else {
                    console.error("Failed to move Image and Caption");
                }
            })
            .then(() => {
                currentIndex = (currentIndex + 1);
                if (currentIndex < imagePaths.length) {
                    loadCurrentImage();
                } else {
                    currentImage.src = './static/chimp.png';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        
        // Event listeners for the Next button and Enter keypress
        nextButton.addEventListener("click", nextImage);
        userCaption.addEventListener("keyup", function(event) {
            if (event.key === "Enter") {
                document.getElementById("next-button").click();
            }
        });
        userNote.addEventListener("keyup", function(event) {
            if (event.key === "Enter") {
                document.getElementById("next-button").click();
            }
        });

        // Initialize the viewer with the first image
        loadCurrentImage();
    </script>

</body>
</html>
